<h1>This is the secret page</h1>
<p>You found out the secret!</p>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a6/Anonymous_emblem.svg/240px-Anonymous_emblem.svg.png">

<li><a href = "/register">Sign Up</a></li>
<li><a href = "/login">Login</a></li>
<li><a href = "/logout">Logout</a></li>