<% include partials/header %>

<h1> This is the Home Page</h1>

<img src = "https://vetstreet.brightspotcdn.com/dims4/default/02f0a4b/2147483647/thumbnail/645x380/quality/90/?url=https%3A%2F%2Fvetstreet-brightspot.s3.amazonaws.com%2F17%2F48bec0a34111e087a80050568d634f%2Ffile%2FSavannah-4-645mk062211.jpg">

<% include partials/footer %>